/* Layout.css */
.app-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #11111b;
    /* Base dark background */
}

.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 32px;
    background-color: #eff1f5;
    /* Light background for content area */
    color: #4c4f69;
}

@media (prefers-color-scheme: dark) {
    .main-content {
        background-color: #181825;
        /* Dark background for content area */
        color: #cdd6f4;
        /* Text color */
    }
}